root = true

[*]
ij_continuation_indent_size = 8
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
ij_formatter_tags_enabled = true
ij_smart_tabs = false
ij_visual_guides = 
ij_wrap_on_typing = false

[*.h]
ij_cpp_aftercontrolstatement = 0
ij_cpp_allowshortfunctionsonasingleline = 4
ij_cpp_allowshortifstatementsonasingleline = 0
ij_cpp_allowshortlambdasonasingleline = 3
ij_cpp_alwaysbreaktemplatedeclarations = 1
ij_cpp_blanklinesaroundfunction = 0
ij_cpp_blanklinesaroundstruct = 0
ij_cpp_blanklinesaroundtop = 0
ij_cpp_blanklinesaroundunion = 0
ij_cpp_breakconstructorinitializers = 0
ij_cpp_breakinheritancelist = 0
ij_cpp_clangformatfilepath = 
ij_cpp_columnlimit = 80
ij_cpp_continuationindentwidth = 4
ij_cpp_functionlikebracestyle = 1
ij_cpp_isaftercaselabel = false
ij_cpp_isafterclass = false
ij_cpp_isafterenum = false
ij_cpp_isafterexternblock = false
ij_cpp_isafterfunction = false
ij_cpp_isafternamespace = false
ij_cpp_isafterstruct = false
ij_cpp_isafterunion = false
ij_cpp_isalignafteropenbracket = true
ij_cpp_isaligntrailingcomments = true
ij_cpp_isallowshortcaselabelsonasingleline = false
ij_cpp_isallowshortenumsonasingleline = true
ij_cpp_isallowshortloopsonasingleline = false
ij_cpp_isbeforecatch = false
ij_cpp_isbeforeelse = false
ij_cpp_isbinpackarguments = true
ij_cpp_isbinpackparameters = true
ij_cpp_isbreakbeforeternaryoperators = true
ij_cpp_isbreakstringliterals = true
ij_cpp_iscustomclangformatfileenabled = false
ij_cpp_isindentcaseblocks = false
ij_cpp_isindentcaselabels = false
ij_cpp_isindentgotolabels = true
ij_cpp_isindentinnamespace = false
ij_cpp_isindentwrappedfunctionnames = false
ij_cpp_isinsertbraces = false
ij_cpp_iskeepsimplefuntionsinoneline = true
ij_cpp_iskeepsimplestructsinoneline = false
ij_cpp_isreflowcomments = true
ij_cpp_isspaceaftercstylecast = false
ij_cpp_isspaceafterlogical = false
ij_cpp_isspaceaftertemplatekeyword = true
ij_cpp_isspacebeforeassignmentoperators = true
ij_cpp_isspacebeforecasecolon = false
ij_cpp_isspacebeforecpp11bracedlist = false
ij_cpp_isspacebeforectorinitializercolon = true
ij_cpp_isspacebeforefunctioncallparentheses = false
ij_cpp_isspacebeforefunctionlbrace = true
ij_cpp_isspacebeforefunctionparentheses = false
ij_cpp_isspacebeforeinheritancecolon = true
ij_cpp_isspacebeforerangebasedforloopcolon = true
ij_cpp_isspacebeforesquarebrackets = false
ij_cpp_isspacebeforestructlbrace = true
ij_cpp_isspaceinemptyblock = false
ij_cpp_isspaceinemptyparentheses = false
ij_cpp_isspacesinangles = false
ij_cpp_isspacesinconditionalstatement = false
ij_cpp_isspacesincstylecastparentheses = false
ij_cpp_isspacesinparentheses = false
ij_cpp_isspacesinsquarebrackets = false
ij_cpp_isspacewithincodebrace = true
ij_cpp_keep_blank_lines_in_declarations = 2
ij_cpp_keepblanklinesaftermethodbody = 0
ij_cpp_line_comment_add_space = false
ij_cpp_line_comment_at_first_column = true
ij_cpp_otherbracestyle = 1
ij_cpp_structlikebracestyle = 1
